header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
}

h1 {
    margin-top: 70px;
    font-size: 65px;
    font-family: 'Irish Grover', cursive;
    margin-bottom: 10px;
}


nav {
    margin-top: 50px;
}
nav > a {
    margin: 0 20px 0 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:hover {
    color: rgb(11,163,156);
 }
 


.galleryLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    font-size: 50px;
    background-color: black;
    color: white
}

.galleryImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.mustachGlasses {
    margin-right: 20px;
    margin-bottom: 20px;
    opacity: .8;
    transition: .5s ease-in;
}

.mustachGlasses:hover {
    opacity: 1.0;
}

.mustache3 {
    margin-right: 20px;
    margin-bottom: 20px;
}

.mustach4 {
    margin-bottom: 20px;
}

/*Everything above is the first row  */

.mustache5 {
    margin-right: 20px;
    margin-bottom: 20px;
}

.mustache6 {
    margin-right: 20px;
    margin-bottom: 20px;
}

/* everything abouve is second row */


.mustache8 {
    margin-right: 20px;
    margin-bottom: 60px;
}

.mustache9 {
    margin-right: 20px;
}


.footer {
    width: 100%;
    height: 80px;
    background-color: rgb(37,37,37);
    display: flex;
    margin: auto;
    align-items: center; 
}

.container {
    width: 600px;
    margin: auto;
    display: flex;
}

.corporated {
    color: white;
    width: 50%;
}

.icons {
    display: flex;
    width: 50%;
    justify-content: right;
    margin: auto;
    
}

@media screen and (max-width: 992px){
    body {
        background-color: bisque;
    }
}

@media screen and (max-width: 480px) {
    nav {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin: 0px;
       font-size: 20px;
    }
}

