header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
}

h1 {
    margin-top: 70px;
    font-size: 45px;
    font-style: 'Grechen Fuemen', cursive;
}
/* Can't get the Font Right */
nav {
    margin-top: 50px;
}

.galleryLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    font-size: 50px;
    background-color: black;
    color: white
}

.galleryImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mustachGlasses {
    margin-right: 20px;
    margin-bottom: 20px;
}

.mustache3 {
    margin-right: 20px;
    margin-bottom: 20px;
}

.mustach4 {
    margin-bottom: 20px;
}

/*Everything above is the first row  */

.mustache5 {
    margin-right: 20px;
    margin-bottom: 20px;
}

.mustache6 {
    margin-right: 20px;
    margin-bottom: 20px;
}